---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
export async function getStaticPaths() {
  const data = await fetch(
    "https://qfcbmxwfnjdobywkwfei.supabase.co/rest/v1/lineup",
    {
      method: "GET",
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFmY2JteHdmbmpkb2J5d2t3ZmVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0ODkyNDAsImV4cCI6MjAyNjA2NTI0MH0.4phUCO3QegbetzxWRquRHEWOYbF8TctgcydbEjOxnxI",
      },
    }
  ).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}

const { myData } = Astro.props;
console.log(myData);
---

<MainLayout>
  <article">
    <img class="background" src={`../../img/lineup/${myData.image}`} alt=" " />
    <div class="indhold_flex">
      <div class="information">
        <h3>LOCATION</h3>
        <h4 class="stage">{myData.stage}</h4>
        <h3>SHOW DATE</h3>
        <h4 class="date">{myData.date}</h4>
        <h3>MORE</h3>
        <Button size="web" type="no_box" link_to={myData.spotify}
          >SPOTIFY</Button
        >
        <Button size="web" type="no_box" link_to={myData.instagram}
          >INSTAGRAM</Button
        >
      </div>

      <div class="artist_name">
        <h1 class="name">{myData.name}</h1>
        <h2 class="description">{myData.description}</h2>
        <Button size="box" type="web" link_to="/lineup">See all artists</Button>
      </div>
    </div>
  </article">
</MainLayout>

<style>
  @media screen and (min-width: 700px) {
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    h4 {
      margin-bottom: 20px;
    }
    .background {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      margin-top: -8em;
      z-index: -1;
      filter: grayscale(100%);
    }

    .indhold_flex {
      display: grid;
      grid-template-columns: 300px auto;
      position: absolute;
      background-color: rgba(09, 09, 09, 0.5);
      height: 50%;
      position: absolute;
      bottom: 0;
    }
    .information {
      display: flex;
      flex-direction: column;
      margin: 20% 0 0 30%;
    }
    .information p {
      margin-bottom: 2em;
    }
    .artist_name {
      margin: 2% 15% 0 20%;
    }
    Button {
      width: 200px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    .background {
      object-fit: cover;
      width: 100vw;
      height: 30vh;
      margin-top: -6em;
      z-index: -1;
      filter: grayscale(100%);
    }

    .indhold_flex {
      display: flex;
      flex-direction: column-reverse;
      gap: 2em;
    }
    .artist_name {
      margin-right: 12%;
    }
    .information {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    h4 {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 14px;
      margin-bottom: 5%;
    }
  }
</style>
